/* regular cliens */

.regular-client {
    padding-top: 94px;
  }
  .regular-client-div {
    display: block;
  }
  .regular-client-logo {
    display: flex;
  }
 
  .link-reg-cli:focus > .svg-logo1,
  .link-reg-cli:hover > .svg-logo1,
  .link-reg-cli:focus > .svg-logo2,
  .link-reg-cli:hover > .svg-logo2,
  .link-reg-cli:focus > .svg-logo3,
  .link-reg-cli:hover > .svg-logo3,
  .link-reg-cli:focus > .svg-logo4,
  .link-reg-cli:hover > .svg-logo4,
  .link-reg-cli:focus > .svg-logo5,
  .link-reg-cli:hover > .svg-logo5,
  .link-reg-cli:focus > .svg-logo6,
  .link-reg-cli:hover > .svg-logo6 {
    fill: var(--accent-color);
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
  
  .regular-client-img {
    width: 170px;
    height: 90px;
    display: block;
    content: "";
    background-color: #ffffff;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:last-child) {
      margin-right: 30px;
      min-width: 170px;
    }
  }
  
  .svg-logo1 {
    padding: 20px 63px;
    width: 170px;
    height: 90px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-logo2 {
    padding: 19px 65px;
    width: 170px;
    height: 90px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-logo3 {
    padding: 24px 64px;
    width: 170px;
    height: 90px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-logo4 {
    padding: 24px 45px;
    width: 170px;
    height: 90px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-logo5 {
    padding: 22px 55px;
    width: 170px;
    height: 90px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-logo6 {
    padding: 22px 41px;
    width: 170px;
    height: 90px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }