/*Team*/
.our-team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-p);
  }
  .our-team-list {
    display: flex;
    justify-content: center;
  }
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #f5f4fa;
    margin: auto;
  }
  .div-our-team {
    display: block;
  }
  
  .our-team-img {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .our-team-h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--text-p);
  }
  .our-team-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  .our-team-socil-item {
    display: block;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link {
    padding: 12px 12px;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
     &:focus {
    background-color: var(--accent-color);
  }
  }
  .soc-link:not(:last-child) {
    margin-right: 10px;
  }
  .li-class {
    display: block;
    padding: 12px 12px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
    
  .our-team-socil-links {
    display: flex;
    padding: 0;
    list-style: none;
    margin-top: 16px;
    margin-bottom: 30px;
    margin-left: 32px;
    .link:hover, .link:focus & {
      fill: white;
    }
   }
  
  /*team-end--*/